version: "3.7"
services:
  intelligence:
    entrypoint: python main.py
    container_name: intelligence
    ports:
      - "8000:8000"
    image: "${FULL_ECR_REPOSITORY}:${IMAGE_TAG_NAME}"
    build:
      dockerfile: "${DOCKERFILE}"
      context: .
      target: "${TARGET}"
    volumes:
      - "./:/intelligence"
    depends_on:
      - celery_worker_intelligence
    environment:
      IMAGE_TAG_NAME: "${IMAGE_TAG_NAME}"
      TARGET: "${TARGET}"
      FULL_ECR_REPOSITORY: "${FULL_ECR_REPOSITORY}"
  redis_intelligence:
    image: "redis:alpine"
    container_name: redis_intelligence
    ports:
      - "6379:6379"
  celery_worker_intelligence:
    entrypoint: python run_worker.py
    container_name: celery_worker_intelligence
    ports:
      - "5001:8000"
    depends_on:
      - redis_intelligence
    image: "${FULL_ECR_REPOSITORY}:${IMAGE_TAG_NAME}-celery"
    restart: on-failure
    build:
      dockerfile: "${DOCKERFILE}"
      cache_from:
        - "${FULL_ECR_REPOSITORY}:${IMAGE_TAG_NAME}"
      context: .
      target: "${TARGET}-celery"
    volumes:
      - "./:/intelligence"
    environment:
      DEBUG: "False"
      IMAGE_TAG_NAME: "${IMAGE_TAG_NAME}"
      TARGET: "${TARGET}"
      FULL_ECR_REPOSITORY: "${FULL_ECR_REPOSITORY}"
  flower:
    image: "mher/flower"
    container_name: celery_flower_intelligence
    ports:
      - "5555:5555"
    environment:
      BROKER_URL: "redis://redis_intelligence:6379"
  celery_beat:
    entrypoint: celery -A intelligence.celery beat -l INFO -S django_celery_beat.schedulers:DatabaseScheduler
    container_name: celery_beat_intelligence
    depends_on:
      - redis_intelligence
      - celery_worker_intelligence
    image: "${FULL_ECR_REPOSITORY}:${IMAGE_TAG_NAME}-celery-beat"
    restart: on-failure
    build:
      dockerfile: "${DOCKERFILE}"
      cache_from:
        - "${FULL_ECR_REPOSITORY}:${IMAGE_TAG_NAME}"
      context: .
      target: "${TARGET}-celery-beat"
    volumes:
      - "./:/intelligence"
    environment:
      DEBUG: "False"
      IMAGE_TAG_NAME: "${IMAGE_TAG_NAME}"
      TARGET: "${TARGET}"
      FULL_ECR_REPOSITORY: "${FULL_ECR_REPOSITORY}"
