name: Development

on:
  push:
    branches: [ develop ]

jobs:
  set-up-before-build:
    runs-on: ubuntu-latest
    environment: develop
    steps:
      - name: Cancel previous workflows
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          workflow_id: ${{ github.event.workflow.id }}

      - name: Checkout
        uses: actions/checkout@v3.3.0

      - name: pull-request
        id: open-pr
        uses: repo-sync/pull-request@v2
        with:
          destination_branch: "staging"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_title: "[Release] - Updates Staging with develop"
          pr_body: "- Release staging <- develop"
          pr_assignee: "IvanDiazNoriega,xleninx"
          pr_label: "auto-pr,release"
  build-and-push-images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Store ENV from AWS SecretManager
        uses: say8425/aws-secrets-manager-actions@v2
        with:
          AWS_ACCESS_KEY_ID: ${{ secrets.DEV__AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DEV__AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.DEV__AWS_REGION_NAME }}
          SECRET_NAME: etl-intelligence-configuration/development

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.DEV__AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DEV__AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.DEV__AWS_REGION_NAME }}

      - name: Notify Deployment triggered
        uses: act10ns/slack@v1
        with:
          status: starting
          message: Deploying {{ env.GITHUB_REF_NAME }} branch

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Use AWS CLI
        uses: unfor19/install-aws-cli-action@v1
        with:
          version: 2

      - name: Create Env File
        run: printenv > .env

      - name: Build Images
        id: build-images-intelligence
        run: |
          docker compose -f docker-compose.yml build
      - name: Deletes Images
        id: delete-images
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ env.IMAGE_TAG_NAME }}
        run: |
          IMAGES_TO_DELETE=$( aws ecr list-images --region $AWS_DEFAULT_REGION --repository-name $ECR_REPOSITORY --filter "tagStatus=UNTAGGED" --query 'imageIds[*]' --output json )
          aws ecr batch-delete-image --region $AWS_DEFAULT_REGION --repository-name $ECR_REPOSITORY --image-ids "$IMAGES_TO_DELETE" || true
      - name: Push Images
        id: push-images
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ env.IMAGE_TAG_NAME }}
        run: |
          docker compose -f docker-compose.yml push celery_worker_intelligence
          docker compose -f docker-compose.yml push flower

  deploy:
    runs-on: ubuntu-latest
    needs: [ build-and-push-images ]
    strategy:
      matrix:
        service:
          - etl-intelligence-service
          - flower-etl-intelligence-service
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Store ENV from AWS SecretManager
        uses: say8425/aws-secrets-manager-actions@v2
        with:
          AWS_ACCESS_KEY_ID: ${{ secrets.DEV__AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DEV__AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.DEV__AWS_REGION_NAME }}
          SECRET_NAME: etl-intelligence-configuration/development

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.DEV__AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DEV__AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.DEV__AWS_REGION_NAME }}

      - name: Use AWS CLI
        uses: unfor19/install-aws-cli-action@v1
        with:
          version: 2

      - name: Notify Start Service Deployment
        uses: act10ns/slack@v1
        with:
          status: starting
          message: deployment start for ${{ matrix.service }}

      - name: Service Deployment ...
        env:
          SERVICE: ${{ matrix.service }}
          REGION: ${{ secrets.DEV__AWS_REGION_NAME }}
        run: |
          aws ecs update-service --cluster ECS-intelligence-develop --service $SERVICE --force-new-deployment

      - name: Notify Finish Service Deployment
        uses: act10ns/slack@v1
        if: always()
        with:
          status: ${{ job.status }}
          message: deployment finished for ${{ matrix.service }}
